@model OnlineBank.Models.AccountHolder

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<h3>Welcome @Session["firstName"] @Session["lastName"]</h3>
<div>
    <h4>AccountHolder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.balance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.balance)
        </dd>
        <dt>
            Cards
        </dt>
        <dd>
          
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.accountID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
